<div class="jumbotron mt-4">
  <h1 class="display-4 text-center">Welcome to NotesApp!!!</h1>
</div>
<div class="text-center">
  <a href="/notes/add"><button class="btn btn-lg btn-dark" >Add Note</button></a>
</div>
